<div igxLayout>
    <div class="layout-box" igxLayout igxLayoutDir="column" style="width: 100%;">
        <div class="layout-box__el" igxFlex>
            <div class="layout-box" igxLayout style="margin-bottom: 50px;">
                <div class="layout-box__el" igxFlex style="margin-right: 50px;">
                    <igx-input-group class="autocomplete">
                        <input igxInput #movieInput name="movie" type="text" [(ngModel)]="movieSearch"
                            placeholder="Filter movie by title" (ngModelChange)="changeMovie($event)"
                            [igxAutocomplete]="moviesDropdown" />
                    </igx-input-group>
                    <igx-drop-down #moviesDropdown maxHeight="300px"
                        (selectionChanging)="movieDropdownSelectionHandler($event)">
                        <igx-drop-down-item *ngFor="let movie of filteredMovies" [value]="movie">
                            {{movie.title}}
                        </igx-drop-down-item>
                    </igx-drop-down>
                </div>

                <div class="layout-box__el" igxFlex>
                    <igx-combo #combo class="combo" [itemsMaxHeight]="250" [data]="categoriesData" [displayKey]="'name'"
                        [valueKey]="'name'" placeholder="Category" searchPlaceholder="Search category"
                        [(ngModel)]="selectedCategories" (selectionChanging)="handleCategorySelection($event)">
                    </igx-combo>
                </div>
            </div>
        </div>

        <div class="layout-box__el" igxFlex>
            <igx-grid #grid1 [data]="moviesData" height="null" width="100%" [primaryKey]="'id'">
                <igx-column field="title" header="Movie Title" [dataType]="'string'">
                </igx-column>
                <igx-column field="categoryName" header="Category" [dataType]="'string'">
                </igx-column>
                <igx-column field="year" header="Year" [dataType]="'string'">
                </igx-column>
                <igx-column field="rating" header="Rating" [dataType]="'string'">
                </igx-column>
            </igx-grid>
        </div>
    </div>
</div>