/* You can add global styles to this file, and also import other style files */
@use 'igniteui-angular/theming' as *;
@use 'variables' as *;
@use 'app-layout';

/* autoprefixer grid: on */
html,
body {
    height: 100%;
    overflow: hidden;
    margin: 0;
}

@include core();
@include typography();
@include theme(
    $palette: $palette,
    $schema: $schema
);

:root {
    @include palette-vars($palette);
}
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
